{% extends 'base.html' %}

{% block title %}{{ block.super }} | User Profile: {{ user.username }} {% endblock %}

{% block content %}
    <h1>
        {{ user.username|upper }} Profile
    </h1>
    <hr>
{#    <p>{{ user.restaurantlocation_set.all }}</p>#}
{#    <p>{{ user.item_set.all }}</p>#}
    {% if user.item_set.all.exists %}
        <div class="container">
            <p>My registered restaurants:</p>
            {% for restaurant in user.restaurantlocation_set.all %}
                <div class="panel-group profile-panels" id="accordion">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{ forloop.counter }}">
                                    {{ restaurant.title }}
    {#                                <strong><a href="{% url 'restaurants:restaurants_detail' slug=restaurant.slug %}">{{ restaurant.title }}</a></strong>#}
                                </a>
                            </h4>
                        </div>
                        <div id="collapse{{ forloop.counter }}" class="panel-collapse collapse in">
                            <div class="panel-body">
                                Category: [{{ restaurant.category }}]<br>
                                Location: {{ restaurant.location }}
                                <br>Menus:
                                <ul>
                                    {% for item in restaurant.item_set.all %}
                                        <li style="margin-bottom: 10px">
                                            <b><i><a href="{% url 'menus:menus_detail' pk=item.pk %}">{{ item.name }}</a></i></b><br>
                                            {% for ingredient in item.get_contents %}
                                                <span class="badge">{{ ingredient }}</span>
                                            {% endfor %}
                                        </li>
                                    {% empty %}
                                        <i>No menus available.</i>
                                    {% endfor %}
                                </ul>
                                <i><a href="{% url 'restaurants:restaurants_detail' slug=restaurant.slug %}">Click here </a>for more info or to edit this restaurant</i>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

    {% endif %}
{% endblock %}
