{% extends 'base.html' %}

{% block title %}{{ block.super }} | Restaurants List{% endblock %}

{% block content %}
    <h1>RESTAURANTS LIST</h1>
    <ul>
        {% for obj in object_list %}
            <li><a href="{% url 'restaurants_detail' slug=obj.slug %}">{{ obj.name }}</a> [{{ obj.category }}]; Located at: {{ obj.location }}</li>
{#            <li>{{ obj.name }} [{{ obj.category }}]; Located at: {{ obj.location }}</li>#}
            <em>Entry Updated: {{ obj.updated }}</em>
        {% endfor %}
    </ul>
{#    <p>{{ object_list }}</p>#}
{% endblock %}