<footer class="text-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <a href="#" title="To Top">
                    <span class="glyphicon glyphicon-chevron-up"></span>
                </a>
                <p>Muy Picky by originally by <a href="http://joincfe.com/" title="join cfe" target="_blank">Join CFE</a></p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
              Copyright &copy; <a href="https://m.shahomar.net" title="mso">mso</a> 2017
            </div>
        </div>
    </div>
</footer>
{##}
{#<footer class="container-fluid bg-4 text-center">#}
{#  <p>Bootstrap Theme Made By <a href="https://www.w3schools.com">www.w3schools.com</a></p>#}
{#</footer>#}