<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle"
                    data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'home' %}">MUYPICKY</a></>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
{#                <li><a href="#about">ABOUT</a></li>#}
                <li><a href="{% url 'home' %}">HOME</a></li>
                <li><a href="{% url 'about' %}">ABOUT</a></li>
                <li><a href="{% url 'contact' %}">CONTACT</a></li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        RESTAURANTS & MENUS
                        <span class="caret"></span>
                    </a>
                        <ul class="dropdown-menu">
                            <li><a href="{% url 'restaurants:restaurants_list' %}">List of Restaurants</a></li>
                            {% if user.is_authenticated %}<li><a href="{% url 'restaurants:create' %}">Create Restaurant</a></li>{% endif %}
                            <li role="separator" class="divider"></li>
                            <li><a href="{% url 'menus:menus_list' %}">List of Menus</a></li>
                            {% if user.is_authenticated %}<li><a href="{% url 'menus:menus_create' %}">Create Menu</a></li>{% endif %}
                        </ul>
                </li>
                {% if not user.is_authenticated %}<li>
                    <a href="{% url 'login' %}">LOGIN</a></li>
                {% else %}
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            {{ user.username }} logged on.
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="{% url 'logout' %}">LOGOUT</a></li>
                        </ul>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
